/* @font-face {
  font-family: 'Pretendard';
  src: url('./assets/fonts/PretendardVariable.ttf') format('truetype');
}

* {
  font-family: 'Pretendard';
} */

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'Pretendard-Regular';
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

.web {
  background-color: antiquewhite;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
  touch-action: none;
}

.phoneWrapper {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  max-width: 767px;
  background-color: white;
  width: 100%;
  height: 100%;
}
